* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: bolder;
}

h3 {
  font-size: 22px;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  font-weight: bolder;
}

.header {
  background-image: linear-gradient(
    to right,
    rgb(102, 137, 252),
    rgb(0, 0, 82)
  );
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
  margin-bottom: 20px;
}

.card-deck .card {
  background-color: rgb(61, 83, 109);
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body {
  padding: 10px 0px 10px 5px;
  line-height: 1;
}

.btn {
  margin-top: 10px;
}

.btn-danger {
  margin-bottom: 5px;
}

#search-box {
  border-bottom: 2px solid rgb(179, 175, 175);
}

.card {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.city {
  text-align: center;
  background-color: rgb(179, 175, 175);
}

.uv-low {
  background-color: green;
  padding: 4px 30px;
  text-align: center;
  color: white;
}

.uv-moderate {
  background-color: rgb(187, 187, 0);
  padding: 4px 30px;
  text-align: center;
  color: white;
}

.uv-high {
  background-color: rgb(179, 116, 1);
  padding: 4px 30px;
  text-align: center;
  color: white;
}

.uv-veryhigh {
  background-color: rgb(179, 0, 0);
  padding: 4px 30px;
  text-align: center;
  color: white;
}

.uv-extreme {
  background-color: rgb(161, 0, 161);
  padding: 4px 30px;
  text-align: center;
  color: white;
}
